@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&family=Ubuntu:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container {
    /* background: rgb(14, 123, 129);
    background: linear-gradient(to bottom right, #0e7b81, #82c180); */
    padding-bottom: 48px;
    min-height: 100vh;
}

nav.navbar {
    padding: 10px 20px;
    /* font-family: "Teko", sans-serif; */
    font-family: "Ubuntu", sans-serif;
}
.navbar .dropdown ul li a {
    margin: 0 !important;
    border: 1px solid #fff;
    /* background: rgb(14, 123, 129); */
    background: linear-gradient(to bottom right, #0e7490, #0d9488, #34d399);
    color: #fff;
}

footer {
    color: #fff;
}

footer a {
    color: #fff;
}

@media only screen and (min-width: 1024px) {
    /* .container {
        background: rgb(14, 123, 129);
        background: linear-gradient(to bottom right, #0e7b81 35%, #82c180);
    } */
    nav a {
        font-weight: 400;
        font-size: 20px;
        color: #fff;
    }
}
