.login-box {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* min-width: 30vw; */
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    /* background: rgba(24, 20, 20, 0.987); */
    background-color: #fafaf9;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    .login-box {
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* min-width: 30vw; */
        padding: 40px;
        /* transform: translate(-50%, -50%); */
        background: rgba(24, 20, 20, 0.987);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
    }
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #bdb8b8;
        /* color: #1e293b; */
        margin-bottom: 30px;
        border: none;
        /* border-bottom: 1px solid #292524; */
        border-bottom: 1px solid #1e293b;
        outline: none;
        background: transparent;
        box-shadow: none;
    }
    .login-box .user-box textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #bdb8b8;
        margin-top: 10px;
        /* margin-bottom: 30px; */
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        box-shadow: none;
    }

    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #bdb8b8;
        /* color: #1e293b; */
        pointer-events: none;
        transition: 0.5s;
    }
    .login-box .user-box input:focus ~ label,
    .login-box .user-box textarea.aktif ~ label {
        top: -20px;
        left: 0;
        color: #bdb8b8;
        /* color: #475569; */
        font-size: 12px;
    }
    .login-box .user-box textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #1e293b;
        margin-top: 10px;
        /* margin-bottom: 30px; */
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        box-shadow: none;
    }

    .text-neon-hover:hover {
        color: #bdb8b8;
        text-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8, 0 0 30px #38bdf8,
            0 0 40px #38bdf8, 0 0 50px #38bdf8, 0 0 60px #38bdf8,
            0 0 70px #38bdf8;
        animation: neon 1.5s ease-in-out infinite alternate;
    }

    .login-box form button.submit:hover {
        background: #38bdf8;
        color: #bdb8b8;
        border-radius: 5px;
        box-shadow: 0 0 5px #38bdf8, 0 0 25px #38bdf8;
    }
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    /* color: #bdb8b8; */
    color: #1e293b;
    margin-bottom: 25px;
    border: none;
    /* border-bottom: 1px solid #292524; */
    border-bottom: 1px solid #1e293b;
    outline: none;
    background: transparent;
    box-shadow: none;
}

.login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #1e293b;
    margin-top: 10px;
    /* margin-bottom: 30px; */
    border: none;
    border-bottom: 1px solid #1e293b;
    outline: none;
    background: transparent;
    box-shadow: none;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    /* color: #bdb8b8; */
    color: #1e293b;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input.aktif ~ label,
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea.aktif ~ label {
    top: -20px;
    left: 0;
    /* color: #bdb8b8; */
    color: #475569;
    font-size: 12px;
}

/* .login-box-dark a:hover {
    background: #03f40f;
    color:#bdb8b8;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
        0 0 100px #03f40f;
} */

.login-box form button.submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font: inherit;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    cursor: pointer;
    color: #1e293b;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
}

.dark .login-box form button.submit {
    color: #fafaf9;
    border-radius: 5px;
}

.login-box form button.submit:hover {
    background: #38bdf8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #38bdf8, 0 0 25px #38bdf8;
}

.login-box form button.submit span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box form button.submit span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    /* background: linear-gradient(90deg, transparent, #03f40f); */
    background: linear-gradient(90deg, transparent, #38bdf8);
    animation: btn-anim1 2s linear infinite;
}

.text-neon-hover:hover {
    font-size: 1rem;
    transition: 0.2s;
}

.text-neon-hover {
    color: #1e293b;
    font-size: 12px;
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8, 0 0 30px #38bdf8,
            0 0 40px #38bdf8, 0 0 50px #38bdf8, 0 0 60px #38bdf8,
            0 0 70px #38bdf8;
    }

    to {
        text-shadow: 0 0 20px #38bdf8, 0 0 30px #38bdf8, 0 0 40px #38bdf8,
            0 0 50px #38bdf8, 0 0 60px #38bdf8, 0 0 70px #38bdf8,
            0 0 80px #38bdf8;
    }
}
