@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&family=Ubuntu:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(14, 123, 129);
    background: linear-gradient(to bottom right, #0e7b81, #82c180);
    padding-bottom: 48px;
    min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
    .container {
        background: rgb(14, 123, 129);
        background: linear-gradient(to bottom right, #0e7b81 35%, #82c180);
    }
}

nav.navbar {
    padding-right: 47px;
}

@media only screen and (min-width: 1024px) {
    nav a {
        font-family: "Teko", sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: #fff;
        margin-top: 40px;
        margin-left: 47px;
    }
}
