@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&family=Ubuntu:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

nav.navbar {
    /* padding: 10px 20px; */
    /* font-family: "Teko", sans-serif; */
    font-family: "Ubuntu", sans-serif;
}

.navbar .dropdown ul {
    right: -15px;
    top: 53px;
}

.navbar .dropdown ul li {
    opacity: 0;
    margin: 2px 0;
}

.navbar .dropdown ul li a {
    margin: 0 !important;
    border: 1px solid #fff;
    /* background: #fff; */
    /* background: linear-gradient(to right, #0e7490, #0d9488, #34d399); */
    background: linear-gradient(to right, #0891b2, #0e7490);
    color: #fff;
}

.navbar .dropdown ul li:hover a {
    transform: scale(1.1);
    background: #fff;
    border: 1px solid #0e7490;
    color: #0e7490;
}

.drawer-side ul li a {
    margin: 5px 0;
}

.drawer-side ul li a:active {
    background: #fff;
    color: #2dd4bf;
}

.drawer-side ul li a.active {
    background-color: #2dd4bf;
    font-weight: bold;
}

.drawer-button:hover {
    background: transparent;
}

/* membuat drawer ketika aktif */
/* .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
    visibility: hidden;
} */

footer {
    color: #fff;
}

footer a {
    color: #fff;
}

button.primary:hover {
    transform: scale(1.05);
    transition: 0.2s;
    animation: ease-in;
    border: 1px solid #0ea5e9;
    background: #f8fafc;
    color: #0ea5e9;
}

/* .ant-btn {
    color: #000;
} */

/* @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.my_hero {
    background-color: #0040c1;
    position: relative;
    min-height: 100vh;
    overflow: hidden; 
    font-family: "Montserrat", sans-serif;
} */

.hero__title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 1;
}

.cube {
    position: fixed;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    /* border: solid 1px #003298; */
    border: solid 1px #0ea5e9;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
    pointer-events: none;
}
.cube:nth-child(2n) {
    /* border-color: #0051f4; */
    border-color: #38bdf8;
}
.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
