section.banner h1 {
    /* font-size: 32px; */
    font-family: "Teko", sans-serif;
    font-weight: 600;
    /* margin-left: 70px; */
    /* letter-spacing: 8px; */
    color: #fff;
}

.button-group {
    display: grid;
    justify-content: center;
    justify-items: center;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    text-align: center;
}

.button-group p {
    font-family: "Ubuntu", sans-serif;
    /* font-weight: 400; */
    /* font-size: 20px; */
}
